* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(14, 101, 14);
}

.puzzel {
    position: relative;
    margin: 0 auto;
    width: 95%;
    /* border: 2px solid #000; */
    display: flex;
}

#text {
    position: absolute;
    width: 69%;
    height: 650px;
    left: 400px;
    top: 50px;
    /* background:black; */
    /* border: 5px solid rgb(243, 15, 15); */
    margin: auto;
}

.posotion div {
    position: relative;
    height: 161px;
    width: 206px;
    border: 2px solid gray;
    display: inline-block;
    align-items: center;
}

.posotion {
    /* padding: 10px; */
    
    display: flex;
    flex-wrap: wrap;
}

#images {
    top: 40px;
    position: absolute;
    width: 23%;

}

.img {
    width: 40%;
}